body {
  background-color: black;
  color: aliceblue;
}

.parent {
    text-align: center;
    margin-top: 50px;
  }
  
  .child {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
  }

  .container-parent {
    background-color: rgb(20, 23, 27);
    text-align: center;
    padding: 20px;
    
  }

  .container-child {
    background-color: rgb(20, 23, 27);
    text-align: center;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: justify;

  }

